/* styles */
body {
    text-align: center;
    font-family: Arial, sans-serif; 
    color: #feebe1;
    background-color: #255857;
    margin: 0; /* sets all margins to 0 */
    padding: 0; 
    display: flex; /* flexes for different screen sizes */
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

/* styles header */
h1 {
    color:#e4736a;
}


/* form styles */
form {
    background-color: #feebe1;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    width: 300px; /* sets width of form*/
    max-width: 500px; /* sets max width of form*/
    height: auto; /* sets height to adjust with width */
    text-align: center; 
}

/* form labels */
label {
    display: block;
    margin-bottom: 8px; /* sets bottom margin to 16px */
    font-weight: bold; /* makes text bold */
    color: #255857;
}

/* forum input / responses */
input {
    width: 100%; /* sets width to percentage of div for adjustign to width of form */
    padding: 8px;
    margin-bottom: 16px; /* sets bottom margin to 16px */
    border: 1px solid #feebe1;
    border-radius: 4px;
}

/* formats form buttosn */
button {
    background-color: #e4736a; /* button color */
    color: #ffffff; /* button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* sets cursor to pointer. */
}

button:hover {
    background-color: #255857; /* changes button color to green */
    color:#ffffff; /* changes button text to white */
}


/* styles grid */
#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 250px); /* 4 columns */
    grid-template-rows: repeat(3, 250px); /* 3 rows */
    gap: 20px; /* spaces grid objects 20px apart */
    justify-content: center; 
    margin-top: 20px; /* sets top margin */
}

/* formats array images */
#gameBoard img {
    max-width: 250px; /* sets max image width */
    max-height: 250px; /* sets max image height */
    cursor: pointer; /* sets cursor to pointer. */
    border: 2px solid #feebe1; /* creates border around images */
    border-radius: 8px; 
}


/* final page styles for div */
#finalPage {
    background-color: #feebe1; /* sets div color */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#finalPage h1 {
    margin-bottom: 20px; /* sets margin on bottom */
    color: #e4736a;
}

#finalPage p {
    font-size: 18px;
    margin: 10px 0;
    color: #255857;
}

/* Play Again Button Styles */
#playAgainButton {
    background-color: #e4736a; /* button color */
    color: #ffffff; /* button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* sets cursor to pointer. */
    margin-top: 20px; /* sets margin on top */
}

#playAgainButton:hover {
    background-color: #255857; /* changes button color */
    color: #ffffff; /* changes button text color */
}
